<h1>Welcome to Good, Bad Music</h1>

<h2>"There are two kinds of music. Good music, and the other kind"-Duke Ellington</h2>

<%= link_to "Sign In", signin_path %> | <%= link_to "Sign up", signup_path %>
